$primary-color: #F2F5F5
$secondary-color: #F75454
$secondary-color-dark: #BE172B
$secondary-color-light: #FF8781
$primary-text-color: #FFFFFF
$secondary-text-color: #000000

*
  margin: 0
  padding: 0
  box-sizing: border-box
  scroll-behavior: smooth;
body
  font-family: Roboto
  font-size: 16px
  background-color: $primary-color
header
  padding: 15px
  position: sticky
  top: 0
  background-color: $secondary-color
  box-shadow: 0px 3px 5px 3px rgba(41,41,41,.25)
  a
    img
      width: 100px
  nav
    margin-top: 5px
    ul
      display: flex
      justify-content: space-around
      list-style: none
      li
        // Para cuando sea para pc
        // &:before
        //   position: absolute
        //   bottom: 0
        //   content: ""
        //   display: block
        //   width: 0
        //   height: 2px
        //   background-color: #fff
        //   transition: all .3s
        //   left: 50%
        // &:hover
        //   &:before
        //     width: 100%
        //     left: 0
        a
          color: $primary-text-color
          text-decoration: none
main
  min-height: 100vh // prueba
footer
  display: flex
  flex-direction: column
  background-color: $secondary-color
  color: $primary-text-color
  padding: 15px
  h2
    font-size: 1.2rem
  div
    img
      width: 25px
    a
      text-decoration: none
      color: $primary-text-color
  div#socialNetworks
    img
      margin: 8px
  div#contact
    display: flex
    flex-direction: column
    a
      padding: 6px
      display: flex
      align-items: center
      span
        margin-left: 10px
#footerSvg
  position: relative
  top: 5px