* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-size: 16px;
  background-color: #F2F5F5;
}

header {
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: #F75454;
  box-shadow: 0px 3px 5px 3px rgba(41, 41, 41, 0.25);
}

header a img {
  width: 100px;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #C5C5C5;
}

main #home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main #home p {
  margin: 10px;
  font-size: 2.3rem;
  text-align: center;
  background: -webkit-linear-gradient(#BE172B, #F75454);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main #home img {
  position: relative;
  left: 20px;
  width: 50vw;
  z-index: -1;
}

main #skills {
  min-height: 80vh;
  background-color: #F75454;
}

main #portfolio {
  min-height: 80vh;
}

main #about {
  min-height: 80vh;
  background-color: #F75454;
}

footer {
  display: flex;
  flex-direction: column;
  color: #F75454;
  padding: 15px;
}

footer h2 {
  font-size: 1.2rem;
}

footer div img {
  width: 25px;
}

footer div img:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

footer div a {
  text-decoration: none;
  color: #F75454;
}

footer div#socialNetworks img {
  margin: 8px;
}

footer div#contact {
  display: flex;
  flex-direction: column;
}

footer div#contact a {
  padding: 6px;
  display: flex;
  align-items: center;
}

footer div#contact a span {
  margin-left: 10px;
}

#footerSvg {
  position: relative;
  bottom: 40px;
}
