$primary-color: #F2F5F5
$secondary-color: #F75454
$secondary-color-dark: #BE172B
$secondary-color-light: #FF8781
$primary-text-color: #FFFFFF

*
  margin: 0
  padding: 0
  box-sizing: border-box
  scroll-behavior: smooth;
body
  font-family: Roboto
  font-size: 16px
  background-color: $primary-color
header
  position: sticky
  top: 0
  padding: 15px
  background-color: $secondary-color
  box-shadow: 0px 3px 5px 3px rgba(41,41,41,.25)
  a
    img
      width: 100px
  nav
    margin-top: 10px
    ul
      display: flex
      justify-content: space-around
      list-style: none
      li
        a
          color: $primary-text-color
          text-decoration: none
          &:hover
            color: #dbdbdb
main
  #home
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    span
      margin: 10px
      font-size: 2.3rem
      text-align: center
      background: -webkit-linear-gradient($secondary-color-dark, $secondary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    img
      position: relative
      left: 20px
      width: 50vw
      z-index: -1
  #skills
    min-height: 100vh
    padding: 30px
    background-color: $secondary-color
    color: $primary-text-color
    h2
      margin-bottom: 10px
      font-size: 2rem
    .skill
      display: flex
      justify-content: center
      width: 80px
      height: 80px
      border-radius: 20px
      background-color: $primary-color
      img
        width: 40px
    .container
      display: grid
      grid-template-columns: repeat(3, 1fr)
      justify-items: center
      grid-gap: 15px

  #portfolio
    min-height: 100vh
  #about
    min-height: 100vh
    background-color: $secondary-color
footer
  display: flex
  flex-direction: column
  color: $secondary-color
  padding-left: 15px
  padding-bottom: 15px
  h2
    font-size: 1.3rem
  div
    img
      width: 35px
      &:hover
        transform: scale(1.1)
        transition: all 0.1s ease-in-out
    a
      text-decoration: none
      color: $secondary-color
  div#socialNetworks
    img
      margin: 8px
  div#contact
    display: flex
    flex-direction: column
    a
      padding: 6px
      display: flex
      align-items: center
      span
        margin-left: 10px
        font-size: 1.1rem
#footerSvg
  position: relative
  bottom: 40px