$primary-color: #F5F5F5
$secondary-color: #6441A5
$primary-text-color: #FFFFFF
$secondary-text-color: #000000

*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-family: Roboto
  font-size: 16px
  background-color: $primary-color
header
  position: sticky
  top: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $secondary-color
  box-shadow: 0px 3px 5px 3px rgba(41,41,41,.25)
  a
    img
      width: 80px
  nav
    ul
      display: flex
      list-style: none
      li
        position: relative
        padding: 10px
        text-align: center
        // Para cuando sea para pc
        // &:before
        //   position: absolute
        //   bottom: 0
        //   content: ""
        //   display: block
        //   width: 0
        //   height: 2px
        //   background-color: #fff
        //   transition: all .3s
        //   left: 50%
        // &:hover
        //   &:before
        //     width: 100%
        //     left: 0
        a
          font-size: 1.3rem
          color: $primary-text-color
          text-decoration: none
footer
  display: flex
  justify-content: space-around
  background-color: $secondary-color
  img
    width: 40px
    margin: 15px
    